:root {
	--input-padding-x: 1.5rem;
	--input-padding-y: 0.75rem;
}

.start,
.image {
	min-height: 100vh;
}

.bg-image {
	background-image: url(https://miro.medium.com/max/1400/1*LhaMBgHAh9lAOWo4KQuRPA.jpeg);
	background-size: auto;
	background-position: cover;
	background-repeat: no-repeat;
}

.start-heading {
	font-weight: 300;
	margin-top: 25px;
}

.btn-start {
	font-size: 0.9rem;
	letter-spacing: 0.05rem;
	padding: 0.75rem 1rem;
	border-radius: 2rem;
}



