{% extends "base.html" %}
{% block title %}final title{% endblock %}
{% block page_header %}
    <div class="jumbotron" style="background-color:#ffffff;">
        <div style="overflow:auto;">
            <h1 class="display-3" style="float:left;">Final Model</h1>
            <div style="float:right">
                <a class="btn btn-lg btn-primary"
                   style="background-color:#ff3547;border-color:#ff3547;padding-left:2rem;padding-right:2rem"
                   href="restart.html" role="button">
                    Home</a>
            </div>
        </div>
        <h1 class="display-6" style="margin-bottom:0;">Your model is {{ confidence }} confident!</h1>
        <div>
            <h1 class="display-6">Your Chosen Healthy Pictures</h1>
            <div style="display:flex;flex-wrap:wrap;">
                {% for i in health_user %}
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="https://cornimagesbucket.s3.us-east-2.amazonaws.com/images_compressed/{{i}}" alt="corn pic {{i}}">
                    </div>
                {% endfor %}
            </div>
            <h1 class="display-5">Your Chosen Unhealthy Pictures</h1>
            <div style="display:flex;flex-wrap:wrap;">
                {% for i in blight_user %}
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="https://cornimagesbucket.s3.us-east-2.amazonaws.com/images_compressed/{{i}}" alt="corn pic {{i}}">
                    </div>
                {% endfor %}
            </div>
            <h1 class="display-6">Your AI's Healthy Pictures</h1>
            <div style="display:flex;flex-wrap:wrap;">
                {% for i in range(0, healthyNum) %}
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="https://cornimagesbucket.s3.us-east-2.amazonaws.com/images_compressed/{{health_test[i]}}" alt="corn pic {{i}}">
                    </div>
                {% endfor %}
            </div>
            <h1 class="display-6">Your AI's Unhealthy Pictures</h1>
            <div style="display:flex;flex-wrap:wrap;">
                {% for i in range(0, unhealthyNum) %}
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="https://cornimagesbucket.s3.us-east-2.amazonaws.com/images_compressed/{{unhealth_test[i]}}" alt="corn pic {{i}}">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock page_header %}
