{% extends "base.html" %}
{% block title %}home title{% endblock %}
{% block page_header %}
    <div class="jumbotron" style="background-color:#ffffff;">
        <h1 class="display-3">AI For Agriculture</h1>
        <p class="lead">Help farmers to learn about Machine Learning and build up farmers' trust in AI.</p>
        <p class="lead">We hope to accomplish this using an interactive machine learning program, which you can test by hitting the start button below!</p>
        <a class="btn btn-lg btn-primary"
           style="background-color:#ff3547;border-color:#ff3547;padding-left:2rem;padding-right:2rem"
           href="label.html" role="button">
            Train Your Own</a>
        <a class="btn btn-lg btn-primary"
           style="background-color:#ff3547;border-color:#ff3547;padding-left:2rem;padding-right:2rem"
           href="pro_model.html" role="button">
            View Pro Model</a>
    </div>
{% endblock page_header %}
