{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index_format.css') }}">
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
			<div class="col-md-8 col-lg-6">
				<div class="start d-flex py-2">
					<div class="container">
						<div class="row">
							<div class="col-md-9 col-lg-8 mx-auto">
    							<br><br><br><br><br><br>
								<p><h1 class="start-heading mb-4">
									AI for Agriculture
									</h1></p>
									<br>
									<h3>Help farmers to learn about Machine Learning and build up farmers' trust in AI</h3><br><br>
									<h4>We hope to accomplish this using an interactive machine
										learning program, which you can test by hitting the start
										button below!</h4><br><br>
									<a href="label.html"><button
											class="btn btn-lg btn-danger btn-block btn-start text-uppercase font-weight-bold mb-2">Try now</button></a>
									<a href="man_vs_machine.html"><button
											class="btn btn-lg btn-danger btn-block btn-start text-uppercase font-weight-bold mb-2">Play vs AI</button></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="page-footer font-small">
	    <div class="footer-copyright text-center py-3">&copy; 2020 Copyright:
            CornAI
        </div>
	 </footer>
	 	<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();

        $('.first-button').on('click', function () {
            $('.animated-icon1').toggleClass('open');
        });

    });
    </script>
</body>
</html>
{% endblock %}