{% extends "base.html" %}
{% block title %}label title{% endblock %}
{% block page_header %}
    <div class="jumbotron" style="background-color:#ffffff">
        <h1 class="display-3">AI Training</h1>
        <p class="lead">Help the AI learn which plants are healthy and unhealthy.</p>
        <!-- TODO: should the image and form be horizontal together or use a vertical alignment instead? -->
        <div style="display:flex;justify-content:center;">
            <div style="width:50%;">
                <img src="https://cornimagesbucket.s3.us-east-2.amazonaws.com/images_compressed/{{ picture }}" style="width:90%;">
            </div>
            <div style="width:50%;">
                <form action="" method="post">
                    {{  form.h_choice(class_="btn btn-primary btn-lg btn-block",
                            style="background-color:#ff3547;color:#fffffe;border-color:#ff3547;")  }}
                    {{  form.b_choice(class_="btn btn-primary btn-lg btn-block",
                            style="background-color:#fffffe;color:#ff3547;border-color:#ff3547;")  }}
                    <input type="hidden" name="corn_picture" value="{{ picture }}">
                </form>
            </div>
        </div>
    </div>
{% endblock page_header %}
