{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/label_format.css') }}">
<body>
	<div class="container">
		<div class="row border-bottom">
			<h1 class="font-weight-light pb-3 mb-2 mt-4">Training AI</h1>
		</div>
		<div class="text-right">
			<a href="index.html"><button
					class="mb-2 mt-4 active_button">Home</button></a>
		</div>
		<div class="row">
			<div class="col-lg-10 col-xl-9 mx-auto">
				<div class="card flex-row my-5 shadow rounded-lg border-0">
					<div class="card-img-left d-none d-md-flex rounded-lg border-0">
						<img
							src="https://cornimagesbucket.s3.us-east-2.amazonaws.com/images_compressed/{{ picture }}"
							style="width: 500px; height: 400px;">
					</div>
					<div class="card-body">
					    <br>
					    <p><a href="javascript:void(0)" data-toggle="popover" data-trigger="focus" title="Useful Tips" data-content="The image can be identified as &quot;healthy&quot; if it satisfies the following conditions: green, no dark spots on the leaves, and not wilted. Otherwise, it's unhealthy. <br /><br />The training labels you provide will teach AI to recognize patterns and features on its own" data-html="true">
                            <span class="fas fa-bullhorn" style="font-size:24px"></span>
                        </a></p>
                        <br>
						<p>&#10146; Use the buttons to label an image as "Healthy" or
							"Unhealthy"</p>
						<form class="form form-horizontal" action="" method="post">
							<p>{{form.choice()}}</p>
							<p>{{form.submit()}}</p>
						</form><br>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
    $(document).ready(function(){
    $('[data-toggle="popover"]').popover();
    });
    </script>
</body>
</html>
{% endblock %}