{% extends "base.html" %}
{% block title %}pro_model title{% endblock %}
{% block page_header %}
    <div class="jumbotron" style="background-color:#ffffff;">
        <div style="overflow:auto;">
            <h1 class="display-3" style="float:left;">Pro Model</h1>
            <div style="float:right;">
                <a class="btn btn-lg btn-primary"
                   style="background-color:#ff3547;border-color:#ff3547;padding-left:2rem;padding-right:2rem"
                   href="man_vs_machine.html" role="button">
                    Fight Our Model</a>
            </div>
        </div>
		<!--Plotly graph code starts here-->
		<div id='graphDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
		<div id='image'><!-- This is where the image displays --></div>
		<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
		<script src='/static/javascript/3dHover.js'></script>
		<!--Plotly graph code ends here-->
    </div>
{% endblock page_header %}
